<html xmlns:th="http://www.thymeleaf.org">
<div style="display: inline-block;margin-left: 15%;">

    <form id="form" enctype="multipart/form-data">
        <label for="image" class="form-label">Ảnh:</label>
        <img style="height:81px;width:81px;" th:src="${model}?@{'/web/assets/img/'+${model.thumbnail}+'.jpg'}:''">
        <input type="file" id="image" name="file" />
        <br>

        <label style="display: block;" class="form-label">Tên:</label>
        <textarea style="width: 500px; height: 100px" name="name" id="name"
            th:text="${model}?${model.name}:''"></textarea>
        <br>

        <label>Giá:</label>
        <input type="number" id="price" name="price" th:value="${model}?${model.price}:''">

        <input type="hidden" name="id" th:value="${model}?${model.id}:''">

        <div th:switch="${model}">
            <button th:case="null" id="addItem" class="btn btn-primary" type="submit">Thêm</button>
            <button th:case="*" id="updateItem" class="btn btn-primary" type="submit">Cập nhập</button>
        </div>

    </form>

    <div>
        <a href="/admin" type="button" class="btn btn-secondary">Hủy</a>
    </div>
    <script type="text/javascript" th:inline="javascript">
        $("#addItem").click(function (e) {
            e.preventDefault()
            var formdt = new FormData($("#form")[0]);
            swtAlert("Bạn có thật sự muốn thêm sản phẩm?", formdt, function ajaxAddItem(data) {
                $.ajax({
                    url: "/api/product/post",
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function () {
                        swal("Thêm thành công!!", {
                            icon: "success",
                        }).then((value) => {
                            location.reload(true)
                        })
                    },
                    error: function () {
                        swal("Thêm thất bại!!", {
                            icon: "error",
                        })
                    }
                })
            })
        })

        $("#updateItem").click(function (e) {
            e.preventDefault()
            var formdt = new FormData($("#form")[0]);
            swtAlert("Bạn có thật sự muốn cập nhập sản phẩm không?", formdt, function ajaxUpdateItem(data) {
                $.ajax({
                    url: "/api/product/update",
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: formdt,
                    success: function () {
                        swal("Cập nhập thành công", {
                            icon: "success",
                        }).then((value) => {
                            location.reload(true)
                        })
                    },
                    error: function () {
                        swal("Cập nhập thất bại", {
                            icon: "error",
                        })
                    }
                })
            })
        })
    </script>