<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/components :: head('Shop')">
</head>
<body>
	<div th:replace="fragments/components :: navbar"></div>
	<div th:replace="fragments/components :: header"></div>
	<!-- Modal -->
	<div class="modal fade bg-white" id="templatemo_search" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="w-100 pt-1 mb-5 text-right">
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<form action="" method="get"
				class="modal-content modal-body border-0 p-0">
				<div class="input-group mb-2">
					<input type="text" class="form-control" id="inputModalSearch"
						name="q" placeholder="Search ...">
					<button type="submit"
						class="input-group-text bg-success text-light">
						<i class="fa fa-fw fa-search text-white"></i>
					</button>
				</div>
			</form>
		</div>
	</div>



	<!-- Open Content -->
	<section class="bg-light">
		<div class="container pb-5">
			<div class="row">
				<div class="col-lg-5 mt-5">
					<div class="card mb-3">
						<img class="card-img img-fluid" style="height: 500px;"
							th:src="@{'/web/assets/img/'+${product.thumbnail}}+'.jpg'"
							alt="Card image cap" id="product-detail">
					</div>
					<div class="row">
						<div id="multi-item-example" class="col-10 ">
							<div class=" product-links-wap" role="listbox">
								<div>
									<div class="row">
										<th:block th:each="p:${photos}">
											<div class="col-4">
												<a href="#"> <img style="width: 100px;" class="card-img"
													th:src="@{'/web/assets/img/'+${p.pathLocation}}+'.jpg'"
													alt="Product Image 1">
												</a>
											</div>
										</th:block>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- col end -->
				<div class="col-lg-7 mt-5">
					<div class="card">
						<div class="card-body">
							<h1 class="h2" th:text="${product.name}"></h1>
							<p class="h3 py-2" style="color: red;"
								th:text="${product.price}+đ"></p>
							<p class="py-2">
								<i class="fa fa-star text-warning"></i> <i
									class="fa fa-star text-warning"></i> <i
									class="fa fa-star text-warning"></i> <i
									class="fa fa-star text-warning"></i> <i
									class="fa fa-star text-secondary"></i> <span
									class="list-inline-item text-dark">Rating 4.8 | 36 Bình
									luận</span>
							</p>
							<ul class="list-inline">
								<li class="list-inline-item">
									<h6>Thương hiệu:</h6>
								</li>
								<li class="list-inline-item">
									<p class="text-muted">
										<strong>Easy Wear</strong>
									</p>
								</li>
							</ul>

							<h6>Mô tả:</h6>
							<p>Chất liệu cao cấp, bền đẹp theo thời gian. Thiết kế thời
								trang. Kiểu dáng phong cách. Độ bền cao. Dễ phối đồ.</p>
							<ul class="list-inline">
								<li class="list-inline-item">
									<h6>Màu sắc :</h6>
								</li>
								<li class="list-inline-item">
									<p class="text-muted">
										<strong>Trắng / Đen</strong>
									</p>
								</li>
							</ul>

							<h6>Specification:</h6>
							<ul class="list-unstyled pb-3">
								<li>Lorem ipsum dolor sit</li>
								<li>Amet, consectetur</li>
								<li>Adipiscing elit,set</li>
								<li>Duis aute irure</li>
								<li>Ut enim ad minim</li>
								<li>Dolore magna aliqua</li>
								<li>Excepteur sint</li>
							</ul>

							<form action="/cart/add" method="GET">
								<input type="hidden" name="id" th:value="${product.id}">
								<div class="row">
									<div class="col-auto">
										<ul class="list-inline pb-3">
											<li class="list-inline-item">Kích thước :
											</li>
											<li class="list-inline-item"><span
												class="btn btn-success btn-size">S</span></li>
											<li class="list-inline-item"><span
												class="btn btn-success btn-size">M</span></li>
											<li class="list-inline-item"><span
												class="btn btn-success btn-size">L</span></li>
											<li class="list-inline-item"><span
												class="btn btn-success btn-size">XL</span></li>
										</ul>
									</div>
								</div>
								<div class="row pb-3">
									<div class="col d-grid">
										<button type="submit" class="btn btn-success btn-lg"
											name="submit" value="buy">Mua</button>
									</div>
									<div class="col d-grid">
										<button type="submit" class="btn btn-success btn-lg">Thêm
											vào giỏ hàng</button>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Close Content -->

	<!-- Start Article -->
	<section class="py-5">
		<div class="container">
			<div class="row text-left p-2 pb-3">
				<h4>Sản phẩm liên quan</h4>
			</div>

			<div class="row">
				<th:block th:each="p:${relevents}">
					<div class="col-12 col-md-3 mb-4">
						<div class="card h-100">
							<a th:href="@{/item/details(id=${p.id})}"> <img
								th:src="@{'/web/assets/img/'+${p.thumbnail}}+'.jpg'"
								class="card-img-top" alt="...">
							</a>
							<div class="card-body">
								<a th:href="@{/item/details(id=${p.id})}" class="h3 text-decoration-none">
									<h6 class="threedot" style="color: black;" th:text="${p.name}"></h6>
								</a>
								<ul
									class="w-100 list-unstyled d-flex justify-content-between mb-0">
									<li>M/L/X/XL</li>
									<li class="pt-2"><span
										class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
										<span
										class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
										<span
										class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
										<span
										class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
										<span
										class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
									</li>
								</ul>
								<ul class="list-unstyled d-flex justify-content-center mb-1">
									<li><i class="text-warning fa fa-star"></i> <i
										class="text-warning fa fa-star"></i> <i
										class="text-warning fa fa-star"></i> <i
										class="text-muted fa fa-star"></i> <i
										class="text-muted fa fa-star"></i></li>
								</ul>
								<p class="text-center mb-0" style="color: red"
									th:text="${p.price}+đ"></p>
							</div>
						</div>
					</div>
				</th:block>
			</div>

		</div>
	</section>
	<!-- End Article -->


	<div th:replace="fragments/components :: footer"></div>

	<div th:replace="fragments/components :: scripts"></div>
	<!-- Start Slider Script -->
	<script src="assets/js/slick.min.js"></script>
	<script>
		$('#carousel-related-product').slick({
			infinite : true,
			arrows : false,
			slidesToShow : 4,
			slidesToScroll : 3,
			dots : true,
			responsive : [ {
				breakpoint : 1024,
				settings : {
					slidesToShow : 3,
					slidesToScroll : 3
				}
			}, {
				breakpoint : 600,
				settings : {
					slidesToShow : 2,
					slidesToScroll : 3
				}
			}, {
				breakpoint : 480,
				settings : {
					slidesToShow : 2,
					slidesToScroll : 3
				}
			} ]
		});
	</script>
	<!-- End Slider Script -->

</body>

</html>

